<input #checkbox1 type="checkbox" name="toggle" id="toggle" style="margin-left: 28px;">
<label for="toggle"></label>
<div class="container">

</div>
<div class="formAdd" >
    <form autocomplete="off" #myForm="ngForm" (ngSubmit)="myForm.form.valid && submit(myForm)">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <input type="hidden" name="supplierId" >

                    <label for="SupplierName" class="float-left">Name</label>
                    <div *ngIf="supplierName.invalid && (supplierName.touched || supplierName.dirty)" class="float-right">
                        <p class="text-danger">This field is Required</p>
                    </div>
                    <input type="text" name="supplierName" class="form-control" placeholder="Enter Name" #supplierName="ngModel"
                        [(ngModel)]="supplier.supplierName" required>
                </div>

                <div class="col-md-3">
                    <label for="Email" class="float-left">Email</label>
                    <div *ngIf="supplierEmail.invalid && (supplierEmail.touched || supplierEmail.dirty)" class="float-right">
                        <p class="text-danger">This field is Required/p>
                    </div>
                    <input type="text" name="supplierEmail" class="form-control" placeholder="Enter Email"
                        #supplierEmail="ngModel" [(ngModel)]="supplier.supplierEmail">
                </div>

                <div class="col-md-3">
                    <label for="PhoneNumber" class="float-left">PhoneNumber</label>
                    <div *ngIf="supplierPhnNum.invalid && (supplierPhnNum.touched || supplierPhnNum.dirty)" class="float-right">
                        <p class="text-danger">This field is Required</p>
                    </div>
                    <input type="text" name="supplierPhnNum" class="form-control" placeholder="Enter PhoneNumber"
                        #supplierPhnNum="ngModel" [(ngModel)]="supplier.supplierPhnNum" required>
                </div>


            </div>

            <div class="row">
                <div class="col-md-3">
                    <label for="MedicineId" class="label float-left">Medicine Id</label>
                    <div *ngIf="medicineId.invalid && (medicineId.touched || medicineId.dirty)" class="float-right">
                        <p class="text-danger">This field is Required</p>
                    </div>
                    <input type="text" class="form-control" placeholder="Enter MedicineId" name="medicineId"
                        [(ngModel)]="supplier.medicineId" #medicineId="ngModel" required>
                </div>


            </div>
            <div class="row">
                <div class="col-md-8"></div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-success btn-block" style="margin-left: 95px;
                  width: 79px;">Save</button>
                </div>
                <div class="col-md-2">
                    <button type="reset" class="btn btn-danger btn-block">Cancel</button>
                </div>
            </div>



        </div>
    </form>
</div>

<div>
    <button type="button" class="btn btn-danger btn-rounded" style="margin-left: 48px;
  width: 101px;" [routerLink]="['../admin']">&laquo; Back</button>
</div>
