<div class="start" style=" overflow: hidden;">
    <div class="Container" style="color:whitesmoke; height: 74px;  background-color:#3f51b5; padding: 10px;">
        <div class="row">
            <div class="col-md-8">
                <div class="row" style="height:40px; ">
                    <img class="logo" src="./assets/img/logo2.png" alt=""
                    style="height: 60px;
                    width: 119px;
                    padding-left: 16px;
                    padding-bottom: 3px;">
                    <h1
                        style="color: red; margin-left: 25px; position: relative;  left:40px; font-style: italic;">
            </h1>


                </div>


            </div>
            <div class="col-md-4">
                <!-- <button type="button" [routerLink]="['/home']" style="padding: 5px; width:80px; margin: 10px;"
                    class="btn btn-primary">Home</button> -->
                    <div class="d-flex justify-content-start">
                      <button type="button" [routerLink]="['About']" style="padding: 5px; width:99px; height: 43px; margin: 10px;"
                      class="btn btn-dark">About</button>
                      <button type="button" [routerLink]="['Contact']" style="padding: 5px; width:121px; height: 43px; margin: 10px;"
                      class="btn btn-dark">Contact Us</button>

                    <div class="space"></div>
                <button  class="btn btn-success" [routerLink]="['Login']" style=" width:99px; height: 43px; margin: 10px;" id="login">Login</button>
                <div class="space"></div>
                <button  class="btn btn-success" [routerLink]="['Sign-Up']" style=" width:99px; height: 43px; margin: 10px;"id="signup">SignUp</button>
            </div>
            </div>
        </div>
    </div>

    <div class="bodyimg"
        style="background-image: url(../assets/img/bg_img.webp); height: 550px; background-size:cover; ">
        <h1 style = "justify-content: end;
        padding-right: 500px;
        padding-top: 65px;
        padding-left: 50px;font-family: verdana;
  font-size: 300%;">Better Life Needs <br> Better Care</h1>
        <p style = "justify-content: end;
        padding-right: 500px;
        padding-top: 25px;
        padding-left: 50px;
        align-items: end; font-size: 19px;
        text-align: justify;
 ">

Medico Pharmacy billing software empowers pharmacists to operate the business with minimal
staff with the least skills and empower them to grow efficiently with 100% accurate and reliable solution.
 Medico Pharmacy software simplifies business management by providing digital solutions for every business
operation like billing, stock auditing, goods inward, stock picking, feedback management, online order taking,
home delivery management, real-time reporting, and decision making.<span id="points">...</span><span id="moreText"> Medico Pharmacy POS helps with accurate inventory
management with expiry control and physical stock auditing with 100% drug management. You can make more business by
partnering with the Doctors and gaining more customers with dedicated commissions. You can get started without any delay
 as Medico offers a free Pharmacy billing software trial, for you to experience the features and enjoy the benefits.
</span>
        </p>

    </div>


    <!--footer starts from here-->
    <div class="Container" id="footer"
        style="color:rgb(248, 247, 247); text-align: center;  background-color: #3f51b5; padding: 10px;">
        <footer><strong>Pharmacy Management System - Contact:- medico012000@pharmacy.in</strong>
        </footer>
    </div>
</div>
