<!--
<div class="start" style="overflow: hidden;">
    <div class="Container" style="color:whitesmoke; background-color:rgb(3 81 79); padding: 10px;">
        <div class="row">
            <div class="col-md-10">
                <h1 style="color: #f7f0f0; margin-left: 520px;">About</h1>
            </div>
            <div align="right" class="col-md-2">
                  <button type="button" [routerLink]="['']" style="padding: 5px; width:80px; margin: 10px;" class="btn btn-dark">Back</button>
            </div>
        </div>
    </div>
    <div class="container"  >
        <div class="bgrim" style="background-image: url(../assets/img/about.jpg); height: 600px; background-size:cover;">
            <br>
           <h2 style="padding: 10px">Who we are, What we do ?</h2>
            <p style="padding: 10px">
                Pharmacy management is developed to ensure the security of information and reliability of pharmacy records when accessing and providing the service to the customers.
                 The customer and admin have separate login credentials so that only authorized people can only access the website so the data is safe.</p>

            <p style="padding: 10px">Nowadays, the pharmacy management system is one of the most essential tools that are
                 mostly used in hospitals.
                 It is mostly used to manage pharmacy-related activities such as management of suppliers,
                 management of drugs stock and sales reports etc...
            </p>
            <p style="padding: 10px">Many pharmacies are operating manually they don't have adequate software to manage their activities
                So, where the pharmacy website comes into play they can check the stock that is available in the store
                and add new items in very less time and can also generate the sales report as well sent
                the emails to the respective doctor on placing and confirm the orders.
            </p>
            <div class="details" style="padding: 10px">
                <h3>For more information</h3>
                <br>
                <h5>Contact:-9438006572</h5>
                <h5>EmailId:- medicio@gmail.com</h5>
            </div>
        </div>

    </div>



</div>
<div class="Container" id="footer"
style="color:black; text-align: center;  background-color: #03242e; padding:10px;">
<footer><strong>Pharmacy Management System - Contact:- medico012000@pharmacy.in</strong>
</footer>
</div> -->
<div class="bg-img" style="height: 538px">
  <div class="container">
    <div class="topnav">
      <a [routerLink]="['']" class="previous">&laquo; Back</a>
      <a >About Us</a>


    </div>
    <div class="bg-text" style="width: 898px;
    height: 423px;
    margin-left: 518px">
      <h3 style="color: #000066;">What is Pharmacy software?</h3>
      <p style="text-align: justify;color:black; font-style: italic;">Pharmacy software is an online software designed to manage all the retail pharmacy activities like medicine expiry management, pharmacy billing, inventory management, and accounting.
      </p>
      <h3 style="color: #000066;">Why do Pharmacies need Pharmacy billing software?

        </h3>
        <p style="text-align: justify;color:black;font-style: italic;">Medico Pharmacy billing software empowers pharmacists to operate the business with minimal staff with the least skills and empower them to grow efficiently with 100% accurate and reliable solution. Gofrugal Pharmacy software simplifies business management by providing digital solutions for every business operation like billing, stock auditing, goods inward, stock picking, feedback management, online order taking, home delivery management, real-time reporting, and decision making. Gofrugal Pharmacy POS helps with accurate inventory management with expiry control and physical stock auditing with 100% drug management. You can make more business by partnering with the Doctors and gaining more customers with dedicated commissions

        </p>




    </div>
  </div>
</div>
<div class="Container" id="footer"
style="color:rgb(242, 247, 243); text-align: center;  background-color: #03242e; padding:10px;">
<footer><strong>Pharmacy Management System - Contact:- medico012000@pharmacy.in</strong>
</footer>
</div>

